* {
    padding: 0;
    margin: 0;
    outline: 0;
    box-sizing: border-box;
}

ul,
ol {
    list-style: none;
}

a {
    text-decoration: none;
    display: inline-block;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
li {
    margin: 0;
    padding: 0;
}

a:hover {
    text-decoration: none;
}

/* =========================================
                Common css End
    ======================================= */

    #terms_and_conditions {
        padding-top: 7rem;
    }
    #terms_and_conditions .terms_content h3 a i {
        color: black;
        margin-left: -21rem;
    }
    #terms_and_conditions .terms_content h3{
        text-align: center;
        font-size: 30px;
        font-weight: 700;
        font-family: sans-serif;
        padding-bottom: 30px;
    }
    #terms_and_conditions .terms_content ul li span{
     font-weight: 700;
     font-size: 17px;
     font-family: sans-serif;
    }
    #terms_and_conditions .terms_content ul li {
        text-align: left;
        font-size: 19px;
        font-weight: 500;
        font-family: sans-serif;
        margin: 26px 0;
        position: relative;
    }
    #terms_and_conditions .terms_content ul{
        position: relative;
    }

    #terms_and_conditions .terms_content ul::after {
        position: absolute;
        content: '';
        left: 17px;
        bottom: -26px;
        width: 93%;
        height: 1px;
        background: rgb(227, 211, 211);
    }
    #terms_and_conditions .end_content ul::after {
        position: none;
        content: none;
        left: none;
        bottom: none;
        width: none;
        height: none;
        background: none;
    }
    #terms_and_conditions .end_content{
      padding-top: 50px;
    }
    #terms_and_conditions .end_content h5 {
      text-align: center;
    }


    /* responsive */


    @media (min-width: 768px) and (max-width: 991.98px) {
        #terms_and_conditions .terms_content h3 {
            font-size: 19px;
        }
        #terms_and_conditions .terms_content h3 a i {
            margin-left: -4rem;
        }
        #terms_and_conditions .terms_content ul li {
            font-size: 15px;
            margin: 20px -2px;
        }
    }
    
    @media (min-width: 576px) and (max-width: 767.98px) {
        #terms_and_conditions .terms_content h3 {
            font-size: 19px;
        }
        #terms_and_conditions .terms_content h3 a i {
            margin-left: -4rem;
        }
        #terms_and_conditions .terms_content ul li {
            font-size: 15px;
            margin: 20px -2px;
        }
    }
    
    @media (max-width: 430.992px) {
        #terms_and_conditions .terms_content h3 {
            font-size: 19px;
        }
        #terms_and_conditions .terms_content h3 a i {
            margin-left: -4rem;
        }
        #terms_and_conditions .terms_content ul li {
            font-size: 15px;
            margin: 20px -2px;
        }
    }
    
    @media (max-width: 393.852px) {
        #terms_and_conditions .terms_content h3 {
            font-size: 19px;
        }
        #terms_and_conditions .terms_content h3 a i {
            margin-left: -4rem;
        }
        #terms_and_conditions .terms_content ul li {
            font-size: 15px;
            margin: 20px -2px;
        }
    }